<div class="reedsy-date-chooser">
	<select
		ng-model="ctl.day"
		ng-options="item as item for item in ctl.getDayOptions() track by item"
		ng-change="ctl.handleDateChange()"
		></select>
	<select
		ng-model="ctl.month"
		ng-options="item as item for item in ctl.getMonthOptions() track by item"
		ng-change="ctl.handleDateChange()"
		></select>
	<input
		ng-model="ctl.year"
		ng-blur="ctl.handleDateChange()"
		type="number"
		step="1"/>
	{{ctl.getString()}} ts: {{ctl.ts}}
</div>